<div class="container">
    <div class="row">
        <!-- About me -->
        <div class="col-lg shadow border m1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="../../../assets/images/profileAvatar.png" alt="profile picture"
                    width="256" height="256" class="rounded-circle" />
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod fugiat, magnam enim eveniet, praesentium error aliquid ad at officiis nostrum id possimus a saepe accusantium, iure provident blanditiis unde neque!</p>
            </div>
        </div>
        <!-- Featured project -->
        <div class="col-lg shadow border m1">
            <div class="text-center">
                <h2>Featured Project</h2>
                
            </div>
        </div>
    </div>
</div>
